﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#rooms tr{
    cursor: pointer;
}

#buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: white;
    margin-right: 10px;
    padding: unset;
    width: 40px;
    line-height: 38px;
}

#buttons li.selected {
    background-color: darkgray;    
    border-width: 1px;    
    border-style: solid;
}