﻿@model List<MultiuserDrawing.Models.Entities.Room>
@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated)
{
    ViewBag.Url = null;
    ViewBag.Style = "display:block;";
    ViewBag.ImageStyle = "display:none;";
    <div class="col-lg-2">
        <h4>
            @Html.ActionLink("Create Room", "Create")
        </h4>
        <table class="table" id="rooms" style="width: 100%; border:none; ">            
            @foreach (var item in Model)
            {
                <tr style="width:inherit; border:none; padding:10px">
                    <td id="td@(item.ID)" style="font-size:12px; padding:5px; border:none;">
                        <h3 onclick="showmenu(this.id)" style="margin-top:unset" id="room@(item.ID)">@item.Name</h3>
                        @if (item.Users.FirstOrDefault(u => u.UserName == User.Identity.Name) != null)
                        {                            
                            <button onclick="leaveroom(this.id, false)" onload="hide()" id="room@(item.ID)leave" type="button" class="btn btn-default" style="display:none">Leave room</button>
                            ViewBag.Url = item.PictureUri;
                            ViewBag.Style = "display:none;";
                            ViewBag.ImageStyle = "display:block;";
                        }
                        else
                        {
                            <button onclick="joinroom(this.id)" onload="hide()" id="room@(item.ID)join" type="button" class="btn btn-default" style="display:none">Join room</button>
                            <button onclick="deleteroom(this.id)" onload="hide()" id="room@(item.ID)delete" type="button" class="btn btn-default" style="display:none">Delete room</button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-8" style="height:600px;">
        <ul class="list-inline" id="buttons" style="height: 40px; margin: unset">
            <li class="selected"><img onclick="choose_instrument(this)" id="img_pointer" src="~/Content/images/cursor-png-1115.png" style="width: 30px; height: 30px; cursor: pointer" /></li>
            <li><img onclick="choose_instrument(this)" id="img_brush" src="~/Content/images/brush.png" style="width: 30px; height: 30px; cursor: pointer"/></li>
        </ul>
        <div id="container" style="height:570px; border-width: 1px; border-style:solid;">
            <img src=@ViewBag.Url id="canvasImg" style=@ViewBag.ImageStyle />
            <h2 style=@ViewBag.Style id="invite_message">You can join rooms and draw on this canvas</h2>
        </div>        
    </div>    
    <div class="col-lg-2">
        <h3>Users in the room:</h3>
        <hr />
        <table class="table" id="users" style="width: 100%; border:none; ">                        
        </table>
    </div>       
    <div class="col-lg-10" id="img"></div>
}
else
{
    <div class="text-center">
    <h1>Only authenticated users can join rooms</h1>    
        @Html.ActionLink("Register", "Register", "Account", null, new { @style =    "font-size:16px" })  or 
        @Html.ActionLink("Log in", "Login", "Account", null, new { @style = "font-size:16px" })
    </div>
}

@section scripts{   
    <script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>    
    <script src="/signalr/hubs"></script>     
    <script src="https://cdn.rawgit.com/konvajs/konva/1.3.0/konva.js"></script>    
    <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
    <script src="~/Scripts/signalR.drawing.js"></script>    
    <script src="~/Scripts/cloudinary.files.js"></script>
    <script src="~/Scripts/AjaxRooms.js"></script>      
    <script src="~/scripts/canvasfeatures.js"></script>
    

    <script type="text/javascript">                    
    </script>
}




